body {
    background-image: url('/public/img/ba.jpg');
}

.color-body {
    background-color: #dedede;


}

/* .logo {
    color: rgb(186, 78, 24);
    font-weight: bold;

} */

.title {
    font-family: 'Cairo', sans-serif;
    font-size: 30px;
    color: #224f61;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 64px;
}

.under-line {
    height: 1px;
    width: 200px;
    border-radius: 10px;
    border: 2px solid #b45b35;
}

.scroll {
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.regtangel {
    background-color: rgb(255, 255, 255);
    height: 600px;
    border-radius: 20px;
    box-shadow: 1px 4px 4px 1px #4d4d4d;
}

.font {
    /* font-family: 'Lobster', sans-serif;
    font-family: 'Phudu', sans-serif;*/
    font-family: 'cursive', cursive;
    font-size: 30px;
}

.btn-style {

    width: 100px;
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: 1px solid rgb(204, 24, 24);
    border-radius: 9px;
    font-family: 'cursive', cursive;


}

.btn-style:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(186, 78, 24);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 11px;
}

.img-style {
    width: 200px !important;
    height: 200px !important;

    border-radius: 5px !important;
}

.price-style {
    color: #b45b35;
    font-weight: bold;

}

.avatar-style {
    height: 60px;
    width: 60px;
    border-radius: 60px;
}

.font-arab {
    /* font-family: 'Cairo', sans-serif; */
    /* font-family: 'Lobster', sans-serif;
    font-family: 'Phudu', sans-serif;*/
    font-family: 'cursive', cursive;
}

.nav-style {

    background-color: #000304b0;
    display: flex;
    height: 26vh;

}

.logo {
    width: 20vh;
    height: 20vh;
   margin-right: -70px;


}

.name-logo {
    color: #dedede;
    font-family: 'Cairo', sans-serif;
    font-weight: bold;
    padding-top: 30px;
    margin-left: -70px;

}

.nav-align {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: nowrap;
    padding-top: 10px;
}


.search input {

    margin-left: 90px;
    border-radius: 15px;
    width: 50%;
    height: 7vh;
    margin-top: 50px;
    outline: none;
}

.search input:hover {
    width: 85%;
    transition: 2s;
}